html, body {
    padding: 0;
    margin:0;
}
.header{
    height: 140px;
}
.site-topbar{
    position: relative;
    height: 40px;
    background-color: #333333;
    color: #b0b0b0;
    font-size: 12px;
}
.site-topbar a{
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}
.site-topbar a:hover{
    color: #fff;
}
/* 去掉下划线 */
a,a:hover{
    text-decoration: none
}
.container{
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
}
.topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
}
.sep{ 
    width: 3px;
    color: #424242;
}
.site-topbar .sep{
    margin: 0px 3.6px;
    /* height: 16px; */
}
.site-topbar .topbar-info .sep{
    margin: 0;
}
.topbar-info{
    /* 浮动在最右边 */
    float: right;
    height: 40px;
    line-height: 40px;
}
.topbar-cart{
    float: right;
    width: 120px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}
.topbar-cart span:hover{
    color: #ff6700;
}
.topbar-cart-img{
    width: 20px;
    height: 20px;
    /* 移动图标的上下位置 */
    vertical-align: -6px;
}
.site-header{
    width: 100%;
    height: 100px;
}
.header-logo{
    float: left;
    margin-top: 22px;
}
.header-logo-img{
    position: relative;
    width: 56px;
    height: 56px;
    overflow: hidden;
}
.header-nav{
    float: left;
    width: 850px;
}
.nav-list{
    position: relative;
    float: left;
    font-size: 16px;
    list-style-type: none;
    height: 88px;
    margin-bottom: 0;
    /* padding: 12px 0 0 30px; */
}
.nav-item{
    float: left;
    /* height: 88px; */
    padding: 26px 10px 38px;
}
.nav-category{
    float: left;
    width: 142px;
    height: 88px;
    padding: 0 15px 0 0;
    font-size: 16px;
    /* width: 127px;
    padding-right: 15px; */
}
.link-category{
    /* padding: 26px 0 38px; */
}
.header-search{
    position: relative;
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}
.search-text{
    position: absolute;
    top: 0;
    width: 223px;
    height: 48px;
    font-size: 14px;
    padding: 0 10px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
}
.search-btn{
    position: absolute;
    right: 0;
    width: 38px;
    height: 46px;
    background: #fff;
    padding: 1px 6px;
    border: 1px solid #e0e0e0;
    text-align: center;
}
.search-btn-img{
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-top: 11px;
    /* font-size: 24px;
    line-height: 24px; */
}
 .home-hero-container{
    position: relative;
}
.home-hero{
    position: relative;
    margin-bottom: 26px;
}
.site-category{
    position: absolute;
    top: 0;
    /* left:-92px; */
    width: 234px;
    height: 460px;
    font-size: 14px;
}
.site-category-list{
    height: 420px;
    color: #fff;
    background: rgba(105, 101, 101, .6);
    list-style-type: none;
    font-size: 14px;
    padding: 20px;
}
.category-item{
    position: relative;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
}
.site-category a{
    line-height: 40px;
}

/*
.homeSwiper{
    position: relative;
    height: 460px;
    overflow: hidden;
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;

}*/
.home-hero-sub{
    margin-top: 14px;
} 
.row{
    margin-left: -14px
}
.homeSwiper-slide a{
    display: inline-block;
    color: #757575;
}
img{
    border: 0;
}
.home-channel{
    float: left;
    width: 234px;
    /* margin-left: 14px; */
}
.home-channel-list{
    margin: 0;
    padding: 3px;
    width: 100%;
    height: 170px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}
.home-channel-list li{
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.home-channel-list span{
    color: #fff;
    /* padding: 18px; */
}
.home-promo{
    float: left;
    width: 978px;
    margin-left: 14px;
}
.home-promo-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.home-promo-list img{
    width: 316px;
    height: 170px;
    float: left;
}
/* 内容page-main */
.page-main{
    background: #f5f5f5;
}
.home-banner-box{
    height: 120px;
    overflow: hidden;
}